.address-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 99;
    display: none; /* Escondido por padrão */
}

/* Container do modal */
.address-container {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    min-width: 40%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 95%;
    overflow: auto; /* Adiciona barra de rolagem se o conteúdo ultrapassar o tamanho */
    word-wrap: break-word;
}

.address-container *{
    max-width: 100%; /* Garante que nenhum elemento filho ultrapasse o container */
    box-sizing: border-box; /* Inclui bordas e padding no cálculo do tamanho */
}

/* Título */
.address-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Textos e inputs */
.address-label {
    font-weight: bold;
    margin-top: 12px;
}

.address-input {
    width: 100%;
    border: 2px solid #ddd;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 16px;
}

.address-input[readonly] {
    background-color: #f9f9f9;
}

.error-border {
    border: 2px solid #e3342f; /* Vermelho para destacar erro */
}

.warning-text {
    color: #e3342f;
    font-size: 15px;
    display: none; /* Escondido por padrão */
    font-weight: bold;
}

/* Botões */
.address-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.address-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#return-address-btn {
    background-color: #f0f0f0;
    color: #333;
}

#return-address-btn:hover {
    background-color: #e0e0e0;
}

#checkout-btn {
    background-color: #22c55e;
    color: white;
    transition: transform 0.2s ease-in-out;
    font-weight: bold;
}

#checkout-btn:hover {
    transform: scale(1.05);
}