#home{
    display: flex;
    min-height: calc(100vh - 100px);
    position: relative;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
}

#cta{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 2%;
}

#cta .title{
    font-size: 70px;
    color: #1D1D1D;
    line-height: 80px;
}

#cta .title span{
    color: #EE5656;
}

#cta .description{
    font-size: 22px;
    color: #1D1D1D;
}

#cta-btn{
    border: none;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EE5656;
    color: #FFFFFF;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s;
}

#cta-btn:hover{
    transform: scale(105%);
}

#cta-btn a{
    text-decoration: none;
    color: #EEEEEE;
}


#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    z-index: 2;
}

.banner-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner img{
    width: 100%;
    max-width: 800px;
    margin-left: 100%;
}


@media screen and (max-width: 1550px){
    #banner img{
        width: 100%;
        height: 100%;
        margin-right: -10%;
        margin-top: -3%;
    }

    #cta{
        margin-top: 5%;
    }
    
}

@media screen and (max-width: 1350px){
    #banner img{
        width: 100%;
        height: 100%;
        margin-top: 0%;
    }

    #cta{
        margin-top: 2%;
    }

    #cta .title{
    font-size: 64px;
    color: #1D1D1D;
    line-height: 70px;
}
}


@media screen and (max-width: 1150px){
    #home{
        width: 95%;
        flex-direction: column;
        padding: 40px 10px;
        gap: 40px;
    }

    #cta{
        width: 100%;
        max-width: 600px;
        align-items: center;
        text-align: center;
    }

    #banner{
        width: 100%;
        max-width: 500px;
    }

    .banner-image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #banner img{
        display: none;
    }

    #cta .title{
        font-size: 48px;
        line-height: 60px;
        margin-top: 5%;
    }
    
    #cta .description{
        font-size: 20px;
        margin-top: 10%;
    }

    #cta-btn{
        margin-top: 10%;
        margin-bottom: -5%;
    }

}