#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section-subtitle{
    color: #1D1D1DAD;
    font-size: 45px;
    margin-top: 50px;
}

.dishes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 35px;
}

.dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 12px;
    width: 25%;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.dish-heart{
    position: absolute;
    background-color: #EE5656;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #EEEEEE;
    width: 70px;
    height: 70px;
    right: 0px;
    top: 0px;
    border-radius: 0px 21px 0px 43px;
}

.dish-image{
    height: 250px;
    width: 250px;
}

.dish-title{
    font-size: 25px;
}

.dish-description{
    color: #1D1D1DAD;
    text-align: center;
}

.dish-price{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-dish{
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EE5656;
    color: #FFFFFF;
    padding: 8px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-dish:hover{
    transform: scale(110%);
}

@media screen and (max-width: 1185px){
    #menu{
        margin-top: 30px;
    }

    .dishes{
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish{
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 630px){
    .dish{
        width: 100%;
    }
}